* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("/images/young-man-talking-phone-by-car.avif");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.background {
    background-color: rgba(0, 0, 0, 0.87);
    padding-bottom: 100px;
    /* height: 100vh; */
    /* width: 100%; */
    /* padding: 20px; */
}

#show:checked~.signup-form {
    display: block;
}

header {
    color: white;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

header nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 10px 50px;
}

@media screen and (max-width: 720px) {
    header nav {
        background-color: black;
        border-radius: 50px;
        padding: 10px;
        margin-top: -50px;
    }
    header nav li {
        padding: -10px;
    }
}

header nav li {
    display: inline-flex;
    margin: 0px 17px;
    padding: 7px;
    transition: 0.4s;
}

header nav li:hover {
    background-color: black;
}

header nav li a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 720px) {
    header nav li a {
        font-size: 13px;
    }
}
/* header nav li a::after {
    content: "";
    display: block;
    margin: auto;
    width: 0;
    height: 2px;
    position: relative;
    transition: width 0.3s linear;
} */

header nav li a:hover::after {
    width: 100%;
    background-color: yellowgreen;
    border-radius: 50px;
}

header .btn-area button {
    height: 45px;
    width: 100px;
    border-radius: 30px;
    border: none;
    margin: 0px 20px;
    background-color: #a399997a;
    transition: all .4s;
}

@media screen and (max-width: 720px) {
    header .btn-area {
        display: none;
    }
}

header .btn-area button:hover {
    background-color: #ffffffaf;
    color: black;
}

header .btn-area button {
    color: white;
    font-size: 15px;
}

header .btn-area button a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

header .btn-area button a:hover {
    color: black;
}

.form-group {
    padding: 20px;
}

.form-hold {
    /* top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); */
    display: block;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    width: 500px;
    /* background-color: yellow; */
}

@media screen and (max-width: 720px) {
    .form-hold .input-hold {
        width: 320px;
    }
}

.form-hold h1 {
    color: white;
    text-align: center;
}

.form-hold .input-hold {
    width: fit-content;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    background-color: #a399997a;
    padding: 13px;
    height: 40px;
    width: 430px;
    border-radius: 30px;
}

.form-hold .input-hold input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    height: 30px;
    color: white;
}

.form-hold .input-hold input::placeholder {
    color: white;
}

.form-hold .input-hold button {
    padding: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
}

.dont {
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.dont p {
    color: white;
}

.log-btn {
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    width: 400px;
    border-radius: 50px;
    border: none;
    height: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 17px;
    transition: 0.4s;
}

.log-btn:hover {
    background-color: rgb(67, 97, 8);
    color: white;
}

.signup-background {
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.637);
    top: 0;
    width: 100%;
    display: none;
}

.signup-form {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    padding-bottom: 40px;
    width: 400px;
    border: 2px solid white;
    transition: all .3s;
}

.signup-form h1 {
    color: black;
    text-align: center;
}

.signup-form input {
    display: block;
    margin: auto;
    width: 370px;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
}

.signup-form input:focus {
    border-color: rgb(82, 116, 14);
    border-width: 3px;
}

#signup-text {
    text-decoration: underline;
    color: rgb(82, 151, 179);
}

.submit-btn {
    padding: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 300px;
    border-radius: 50px;
    border: none;
    background-color: rgb(94, 133, 15);
    color: white;
    font-size: 16px;
    transition: 0.4s;
}

.submit-btn:hover {
    transform: scale(1.1);
}
/* SIGN UP FORM SECTION */

#show:checked~.container {
    display: block;
    transition: all 0.6s ease-in;
}

#show {
    display: none;
}

.container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.808);
    height: 100vh;
    width: 100%;
    transition: all 300ms ease-in-out;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 720px) {
    .container {
        height: 180vh;
    }
}

.signup-form .close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 18px;
    cursor: pointer;
}