* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    transition: all .5s step-start;
    animation-delay: 5s;
    animation: normal;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: rgba(0, 0, 0, 0.952);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(60px);
    height: 100px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 40px;
    /* font-family: cursive; */
    font-weight: bold;
    padding: 0px 100px;
    line-height: 80px;
}

@media screen and (max-width:450px) {
    nav label.logo {
        font-size: 20px;
    }
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0;
}

nav ul {
    float: right;
    margin-right: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 7px 17px;
    font-size: 17px;
    /* font-family: cursive; */
    transition: 0.4s;
}

ul.dropdown {
    position: fixed;
    background-color: black;
    top: 80px;
    margin-left: -2px;
    display: none;
}

ul.dropdown li {
    display: block;
    text-align: center;
    transition: all .3s;
    line-height: 50px;
}

ul.dropdown li:hover {
    background-color: #504949;
}

li:hover ul.dropdown {
    display: block;
}

a.active,
a:hover {
    color: yellowgreen;
}

.CheckButton {
    float: right;
    line-height: 100px;
    margin-right: 40px;
    display: none;
}

.mycheck {
    display: none;
}

@media screen and (max-width:720px) {
    label.logo {
        font-size: 30px;
        padding: 0px 50px;
    }
    ul {
        display: block;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.877);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(60px);
        position: fixed;
        top: 100px;
        left: -100%;
        transition: all .5s;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav ul li {
        display: block;
        line-height: 100px;
        text-align: center;
        top: 70px;
        transition: all .5s;
    }
    nav ul li:hover {
        background-color: #504949;
        color: black;
    }
    nav ul li a:hover {
        color: black;
    }
    .CheckButton {
        display: block;
    }
    .mycheck:checked~ul {
        left: 0;
    }
    ul.dropdown {
        position: fixed;
        background-color: black;
        top: 80px;
        margin-left: -12px;
        display: none;
    }
    ul.dropdown li {
        display: block;
        text-align: center;
        transition: all .3s;
    }
    li:hover ul.dropdown {
        display: block;
    }
}

.social-btn1 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    margin: 0px 5px;
    font-size: 17px;
    transition: all 0.4s;
}

.social-btn1:hover {
    color: blue;
}

@media screen and (max-width: 720px) {
    .social-btn1 {
        height: 30px;
        width: 30px;
    }
    #instagram {
        height: 30px;
        width: 30px;
    }
}

.social-btn2 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    margin: 0px 5px;
    font-size: 17px;
    transition: all 0.4s;
}

.social-btn2:hover {
    color: red;
}

.detail-bg {
    padding-bottom: 200px;
    background: linear-gradient(to right, darkblue, rgb(77, 5, 77));
}

.label {
    display: block;
    margin: auto;
    color: white;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.40);
    text-align: center;
    padding: 20px 0px;
    /* margin: 10px 0px */
}

.detail-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

details {
    width: fit-content;
    padding: 20px;
    margin: 10px 20px;
    background-color: #fff;
    transition: all .5s;
}

details[open] {
    border-radius: 10px;
}

.background {
    /* background-color: black; */
    /* color: white; */
    width: 400px;
    padding: 20px;
    transition: all .5s;
}

@media screen and (max-width: 720px) {
    .background {
        width: 250px;
    }
}