* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: rgba(0, 0, 0, 0.952);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(60px);
    height: 100px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 40px;
    /* font-family: cursive; */
    font-weight: bold;
    padding: 0px 100px;
    line-height: 80px;
}

@media screen and (max-width:450px) {
    nav label.logo {
        font-size: 20px;
    }
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0;
}

nav ul {
    float: right;
    margin-right: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 7px 17px;
    font-size: 17px;
    /* font-family: cursive; */
    transition: 0.4s;
}

ul.dropdown {
    position: fixed;
    background-color: black;
    top: 80px;
    margin-left: -2px;
    display: none;
}

ul.dropdown li {
    display: block;
    text-align: center;
    transition: all .3s;
    line-height: 50px;
}

ul.dropdown li:hover {
    background-color: #504949;
}

li:hover ul.dropdown {
    display: block;
}

a.active,
a:hover {
    color: yellowgreen;
}

/* Start Style For Logout */
.logout {
    background-color: black;
    font-size: 20px;
    display: inline-block;
    margin: 0;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logout button{
    background-color: black;
    width: 100%;
    height: 100%;
    border: 0px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 20px;
}
.logout button:hover{
    background-color: #504949;
    color: yellowgreen;
}
/* End Style For Logout */


.CheckButton {
    float: right;
    line-height: 100px;
    margin-right: 40px;
    display: none;
}

.mycheck {
    display: none;
}

@media screen and (max-width:720px) {
    label.logo {
        font-size: 30px;
        padding: 0px 50px;
    }
    ul {
        display: block;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.877);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(60px);
        position: fixed;
        top: 100px;
        left: -100%;
        transition: all .5s;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav ul li {
        display: block;
        line-height: 100px;
        text-align: center;
        top: 70px;
        transition: all .5s;
    }
    nav ul li:hover {
        background-color: #504949;
        color: black;
    }
    nav ul li a:hover {
        color: black;
    }
    .CheckButton {
        display: block;
    }
    .mycheck:checked~ul {
        left: 0;
    }
    ul.dropdown {
        position: fixed;
        background-color: black;
        top: 80px;
        margin-left: -12px;
        display: none;
    }
    ul.dropdown li {
        display: block;
        text-align: center;
        transition: all .3s;
    }
    li:hover ul.dropdown {
        display: block;
    }
}

.social-btn1 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    margin: 0px 5px;
    font-size: 17px;
    transition: all 0.4s;
}

.social-btn1:hover {
    color: blue;
}

@media screen and (max-width: 720px) {
    .social-btn1 {
        height: 30px;
        width: 30px;
    }
    #instagram {
        height: 30px;
        width: 30px;
    }
}

.social-btn2 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    margin: 0px 5px;
    font-size: 17px;
    transition: all 0.4s;
}

.social-btn2:hover {
    color: red;
}
/* BODY1 SECTION */

.body1 {
    background-color: rgba(0, 0, 0, 0.89);
    height: 85vh;
    width: 100%;
    gap: 0px;
}

.b-group {
    padding: 60px 10px;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.body-group {
    background-image: url("/images/image-1.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: none;
}

.b1 h1 {
    color: yellowgreen;
    font-size: 46px;
}

.read-btn {
    padding: 10px;
    margin-top: 30px;
    color: black;
    font-weight: bold;
    transition: 0.4s;
}

.read-btn:hover {
    transform: scale(1.1);
}

.b1 p {
    color: white;
    font-size: 20px;
    font-family: cursive;
}

.b2 img {
    transition: 0.4s;
}

.b2 img:hover {
    transform: scale(1.03);
    filter: grayscale(60%);
}

@media screen and (max-width:720px) {
    .b1 h1 {
        font-size: 24px;
        transition: all .5s;
    }
    .b1 p {
        font-size: 13px;
    }
    .b2 img {
        height: 240px;
    }
    .read-btn {
        width: 80px;
        font-size: 10px;
    }
}
/*SlideShow Effect Styling*/

.slide-group {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.slideshow-area {
    padding: 30px;
}

.label {
    padding: 10px;
    text-align: center;
    background-color: yellowgreen;
    width: 40%;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.label h1 {
    color: white;
    text-shadow: 1px 1px 3px black;
}

@media screen and (max-width:720px) {
    .label h1 {
        font-size: 17px;
    }
}

.div2 {
    height: 250px;
    width: 350px;
    background-image: url("/images/black-person-using-car-remote-unlock-car-holding-face-mask.avif");
    background-size: cover;
    transition: all .5s;
    animation: slide 20s infinite;
}

@media screen and (max-width: 720px) {
    .slide-group .div1 .content {
        opacity: 1;
    }
    .slide-group .div2 .content {
        opacity: 1;
    }
}

@keyframes slide {
    20% {
        background-image: url("/images/full-shot-man-checking-car-s-engine.avif");
    }
    40% {
        background-image: url("/images/adult-male-upset-broken-motorbike.avif");
    }
    60% {
        background-image: url("/images/young-man-talking-phone-by-car.avif");
    }
    80% {
        background-image: url("/images/full-shot-cool-old-woman-with-motorbike.avif");
    }
    100% {
        background-image: url("/images/happy-man-cleaning-car-front-view.avif");
    }
}

.slide-group .div1 {
    height: 250px;
    width: 350px;
    background-image: url("/images/happy-man-cleaning-car-front-view.avif");
    background-size: cover;
    transition: all .5s;
    animation: animate 25s infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes animate {
    20% {
        background-image: url("/images/portrait-serious-young-afro-american-man.avif");
    }
    40% {
        background-image: url("/images/happy-man-cleaning-car-front-view.avif");
    }
    60% {
        background-image: url("/images/full-shot-cool-old-woman-with-motorbike.avif");
    }
    80% {
        background-image: url("/images/black-person-using-car-remote-unlock-car-holding-face-mask.avif");
    }
    100% {
        background-image: url("/images/found-car.png");
    }
}
/*DIV 1 STYLING */

.div1 .content {
    text-align: center;
    height: 250px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.795);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s;
    cursor: pointer;
}

.div1 .content .text {
    transition: all .5s;
}

.div1 .content:hover {
    opacity: 1;
}

.div1 .content .text:hover {
    transform: translateY(-6px);
}

.div1 .content h1 {
    color: white;
    font-size: 40px;
    margin: 8px 0px;
}

.div1 .content p {
    color: yellow;
    font-size: 20px;
}
/*DIV 2 STYLING */

.div2 .content {
    text-align: center;
    height: 250px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.795);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s;
    cursor: pointer;
}

.div2 .content .text {
    transition: all .5s;
}

.div2 .content:hover {
    opacity: 1;
}

.div2 .content .text:hover {
    transform: translateY(-10px);
}

.div2 .content h1 {
    color: white;
    font-size: 40px;
    margin: 8px 0px;
}

.div2 .content p {
    color: yellow;
    font-size: 20px;
}

@media screen and (max-width: 720px) {
    .div2 .content p {
        font-size: 16px;
    }
    .div1 .content p {
        font-size: 16px;
    }
    .content .text h1 {
        font-size: 30px;
    }
}

.more-btn {
    padding: 10px;
    margin: 10px 0px;
    background-color: green;
    border: none;
    /* font-weight: bold; */
    color: white;
    transition: 0.4s;
}

.more-btn:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(50px);
}

.border {
    border: 5px solid black;
    border-radius: 30px;
    padding-bottom: 30px;
    transition: all .5s;
}

@media screen and (max-width: 720px) {
    .border {
        background-color: rgb(250, 248, 244);
    }
}

.about-hold {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    margin: 50px 0px;
}

@media screen and (max-width: 720px) {
    .about-hold {
        background-color: black;
        color: white;
        border-radius: 10px;
    }
}

.text-hold h1 {
    font-size: 40px;
}

.text-hold p {
    width: 320px;
    text-align: justify;
    margin: 10px 0px;
}

.about-btn {
    padding: 10px;
    margin: 18px 0px;
    background-color: green;
    color: white;
    border: none;
    transition: 0.4s;
}

.about-btn:hover {
    transform: scale(1.1);
}

.about-image {
    width: 500px;
    height: 100%;
    padding: 10px;
}

@media screen and (max-width: 720px) {
    .about-image {
        background-color: #fff;
        border-radius: 10px;
    }
}

.img-div {
    width: 100%;
}

.img-div img {
    width: 100%;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.contact-hold {
    background-image: url("/images/found-car.png");
    background-size: cover;
    /* background-position: center; */
}

.contact {
    background-color: rgba(0, 0, 0, 0.89);
    padding: 20px;
}

.contact-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.contact .h1 {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.contact1 div {
    display: flex;
    align-items: center;
    margin: 30px 0px;
    width: fit-content;
    color: white;
}

.contact1 div button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    margin: 0px 20px;
    font-size: 25px;
    transition: 0.4s;
}

.contact1 div p {
    font-size: 20px;
}

.contact1 div p a {
    color: white;
    transition: 0.4s;
}

.contact1 div p a:hover {
    color: rgb(68, 68, 202);
}

.contact1 div button:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    .contact .h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 720px) {
    .contact1 div button {
        height: 35px;
        width: 35px;
        font-size: 20px;
    }
}

@media screen and (max-width:720px) {
    .contact1 div p {
        font-size: 16px;
    }
    .contact1 div .address {
        width: 190px;
    }
}

.contact2 .form-hold {
    background-color: #fff;
    padding: 20px;
    width: 400px;
}

@media screen and (max-width: 720px) {
    .contact2 .form-hold {
        width: 300px;
    }
}

.form-hold div {
    width: 100%;
    display: block;
    margin: auto;
}

.form-hold input {
    display: block;
    margin: auto;
    width: 89%;
    height: 30px;
    padding: 10px;
    border: 2px solid brown;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

.form-hold textarea {
    display: block;
    margin: auto;
    width: 89%;
    height: 70px;
    padding: 10px;
    border: 1px solid gray;
    margin-top: 40px;
}

.contact2 button {
    padding: 10px;
    margin: 10px 10px;
    width: 120px;
    background-color: brown;
    color: white;
    font-size: 15px;
    border: none;
    transition: 0.4s;
}

.contact2 button:hover {
    transform: scale(1.1);
}

footer {
    padding: 20px;
    background-color: rgb(199, 181, 147);
}

@media screen and (max-width: 720px) {
    footer {
        background-color: black;
        color: white;
    }
    .foot1 .foot-btn {
        background-color: #fff;
        color: black;
    }
    .foot2 .foot-nav a {
        color: white;
    }
    footer .foot3 .social-btn button {
        background-color: #fff;
    }
}

@media screen and (max-width:720px) {
    .foot-hold .social-btn div .fab {
        color: black;
    }
    .foot-hold .btn .text-link p {
        color: white;
    }
}

.foot-hold {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.foot1,
.foot2,
.foot3 {
    height: 350px;
    padding: 10px;
    margin: 10px 30px;
}

footer .foot1 p {
    width: 320px;
    text-align: justify;
    margin: 12px 0px;
}

.foot1 button {
    padding: 10px;
    margin: 10px 0px;
    background-color: black;
    color: white;
    border: none;
}

.foot-nav {
    width: fit-content;
}

.foot-nav li {
    list-style: none;
    padding: 10px 25px;
    margin: 10px 0px;
    transition: 0.4s;
}

.foot-nav li:hover {
    background-color: rgb(59, 87, 2);
}

.foot-nav li a {
    color: black;
    text-decoration: none;
}

.foot3 .social-btn div {
    display: flex;
    align-items: center;
    width: fit-content;
    width: 200px;
    transition: all .4s;
}

.foot3 .social-btn div:hover {
    background-color: rgb(59, 87, 2);
}

.foot3 .social-btn div a {
    color: white;
    text-decoration: none;
}

.foot3 .social-btn div p {
    color: black;
}

.foot3 .social-btn button {
    height: 35px;
    width: 35px;
    display: block;
    margin: 17px 10px;
    border-radius: 50%;
    border: none;
    background-color: black;
    color: white;
}

.back-btn {
    height: 60px;
    width: 60px;
    background-color: rgb(126, 185, 8);
    color: black;
    font-weight: 900;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    float: right;
    margin-left: -20px;
    position: fixed;
    top: 90%;
    left: 96%;
}

@media screen and (max-width: 720px) {
    .back-btn {
        height: 40px;
        width: 40px;
        top: 90%;
        left: 90%;
        background-color: black;
        color: white;
        border: 1px solid white;
    }
}